.TicketNum {
    display: inline-block;
    background-color: #f0f0f0;
    border: 2px solid #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
    color: #333;
}